/* selector {
    Property:Value;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: whitesmoke;
  background-size: auto;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

.headers {
  text-align: center;
  margin: 40px 0px;
}

.paragraph {
  text-align: center;
  margin: 0px 500px;
  line-height: 30px;
}

.topbanner {
  font-family: sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.topbanner-text {
  text-align: center;
  font-size: 80%;
  padding: 10px;
  margin: 0 auto;
}

.topbanner-button {
  background: none;
  border: none;
  cursor: pointer;
}



.navbar {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  background-color: #e2ddd3;
  z-index: 99999;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-logo {
  padding-right: 10px;
  font-size: 120%;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 80%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.navbar-item:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .navbar-item:hover .navbar-dropdown-button {background-color: #3e8e41;} */

@media only screen and (max-width: 860px) {



  .dropdown-content {
    position: relative;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a {
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 80%;
  }


}


.navbar-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
  padding: 0px 5px;
}

.navbar-item {
  padding: 6.5px 10px
}

.navbar-link {
  font-size: 100%;
  font-weight: 400;
  color: black;
}

.navbar-link:hover {
  color: grey;
}

.navbar-menu-button {
  display: none;
  color: black;
  font-size: 100%;
  background-color: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 860px) {

  .navbar {
    justify-content: flex-start;
    /* overflow: hidden; */
  }

  .navbar-link:hover {
    color: #e2ddd3;
  }

  .navbar-menu {
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    /* border-radius: 10px; */
    text-align: center;
    transition: 0.3s;
    position: fixed;
    left: -100%;
    top: 67px;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);

  }


  .navbar-menu.active {
    left: 0;
    z-index: 99999;
  }


  .navbar-menu-button {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar-menu-button.active {
    background-color: #e2ddd3;
  }

  .navbar-menu-button.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-menu-button.active :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-menu-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


}



.herobanner {
  background-image: url(website-images/boundless_website_herobanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  background-position-y: 50%;
  position: relative;
}

.herobanner-text {
  font-size: 150%;
  padding: 150px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

}

.logo {
  height: 300px;
  width: 300px;
  margin: 0;

}


.button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0px 0px;
  perspective: 1000px;
}

.button a {
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;

}

.button a:before,
.button a:after {
  position: absolute;
  content: "SHOP NOW";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.button a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

.button a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

.button a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  margin: 0px 80px;
  justify-content: center;
  transition: 0.5s ease-in-out
}

.standing-mirror-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  margin: 0px 80px;
  transition: 0.5s ease-in-out
}

.frame-gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  margin: 0px 80px;
  margin-bottom: 40px;
  transition: 0.5s ease-in-out
}

.franklysaid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  margin: 0px 80px;
  justify-content: center;
  transition: 0.5s ease-in-out
}

.card {
  width: 200px;
  height: 260px;
  /* padding: 10px 0px; */
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

}

.standing-mirror-card {
  width: 300px;
  height: 340px;
  /* padding: 10px 0px; */
  position: relative;
  display: flex;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
  transition: 0.5s ease-in-out;

}

.frame-gallery-card {
  width: 300px;
  height: 340px;
  /* padding: 10px 0px; */
  position: relative;
  display: flex;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
  transition: 0.5s ease-in-out;

}

.franklysaid-card {
  width: 200px;
  height: 260px;
  /* padding: 10px 0px; */
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0000, #d9d9d9);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.standing-mirror-card:before {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0000, #dec095);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.frame-gallery-card:before {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0000, #785942);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.standing-mirror-card:hover:before {
  opacity: 0.6;
}

.frame-gallery-card:hover:before {
  opacity: 0.6;
}

.card:hover:before {
  opacity: 1;
}


.card:hover {
  transform: translateY(20px);
  /* opacity: 60%; */
}

.standing-mirror-card:hover {
  transform: translateY(20px);
  /* opacity: 60%; */
}

.frame-gallery-card:hover {
  transform: translateY(20px);
  /* opacity: 60%; */
}

.card:hover h1 {
  opacity: 1;
  transform: translateY(5px);
  margin-left: 10px;
  font-size: 28px;
  text-align: left;
}

.standing-mirror-card:hover h1 {
  opacity: 1;
  transform: translateY(260px);
  margin: 10px;
  font-size: 48px;
}

.frame-gallery-card:hover h1 {
  opacity: 1;
  transform: translateY(275px);
  margin: 10px;
  font-size: 36px;
}

.card:hover p {
  opacity: 1;
  transform: translateY(1px);
  margin-left: 10px;
  font-size: 16px;
  text-align: left;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.standing-mirror-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}







.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 0px 80px;

}

.collection {
  width: 100%;
  Height: 300px;
  object-fit: cover;
  /* padding: ; */
  /* transition: all; */
  background-color: white;
}

.collection:hover {
  /* transform: scale(1.03); */
  opacity: 80%;
}


.product-dimensions-portrait {
  display: block;
  margin: 0 auto;
  height: 600px;
  width: 480px;
}


.product-dimensions-landscape {
  display: block;
  margin: 0 auto;
  height: 480px;
  width: 600px;
}

@media only screen and (max-width: 860px) {
  .product-dimensions {
    align-items: center;
    height: auto;
    width: 100%;
  }
}


/* .container-table {
  margin-left: auto;
  margin-right: auto;
} */



.dimensions-table {
  padding:24px 30px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.table-row-2 {
  font-size: 32px;
}






  /* 
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
} */


/*   
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
} */




footer {
  background-color: #e2ddd3;
  padding: 20px 20px;
}

.footer-spacer {
  height: 80px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 85%;
  gap: 40px;

}

.footer-title {
  display: block;
  text-align: left;
  margin: 0;
  color: black;
  font-size: 120%;
}

.footer-list {
  list-style: none;
  padding-left: 0;
  line-height: 200%;
  margin: 0;
}

.footer-text {
  text-align: left;
  color: black;
  text-decoration: none;

}

.footer-text:hover {
  text-align: left;
  color: grey;
}

.footer-logo {
  margin-left: auto;
  margin-right: 20px;
}

@media screen and (max-width: 860px) {

  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 85%;
    gap: 20px;
  }

  .footer-logo {
    margin: 0px;
    margin-bottom: 20px;

  }
}

.trademark {
  text-align: center;
  margin: 40px 20px;
  /* color:#ffffff; */
  font-size: 80%;
  color: black;
  align-items: center;

}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.fa-instagram {

  padding: 20px;
  font-size: 20px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {

  padding: 20px;
  font-size: 20px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook:hover {
  opacity: 0.7;
  color: white;
}

.fa-instagram {
  background: #dec095;
  color: white;

}

.fa-facebook {
  background: #dec095;
  color: white;

}

.fa-instagram:hover {
  color: black;
}

.fa-facebook:hover {
  color: black;
}


/* Other Pages */


.logo-about {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.mailchimp {
  display: flex;
  justify-content: center;
}

.big-headers {
  text-align: center;
  margin: 40px 0px;
  font-size: 300%;
}




.section {
  background-color: #dec095;
  /* background-color: whitesmoke; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 40px;
  width: 80%;
  margin: 0 auto;
}

.section-text {
  color: black;
  display: flex;
  flex-direction: column;
}

.section-header {
  margin: 0;
}

.section p {
  text-align: justify;
}

.section img {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-left: 40px;
  height: 400px;
  width: auto;

}


.section-text .button {
  align-self: center;
  margin: auto 0;
}

@media screen and (max-width: 860px) {

  .section {
    flex-direction: column;
    justify-content: center;

  }

  .section img {

    margin: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .section-text .button {
    margin: 40px 0;
  }

  /* .section .section-text .section-header {
order:3;
  }

  .section .section-text .button {
    order:2
  } */


}


.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 10px 40px;
  width: 83.5%;
  margin: 0 auto;
  flex-direction: column;
}





/* Slideshow container */
.slideshow-container {
  /* max-width: 100%; */
  position: relative;
  margin: 40px auto;
  width: 100%;
  /* padding: 40px; */

}

/* Hide the images by default */
.number {
  display: none;
}

.number img {
  height: 600px;
  object-fit: cover;

}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: #dec095; */
  /* color: grey; */
  opacity: 40%;
  font-size: 48px;
}

/* Caption text */
.caption-text {
  color: whitesmoke;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: whitesmoke;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.count {
  animation-name: count;
  animation-duration: 1.5s;
}

@keyframes count {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}